---
import Testimony from './MiniComponents/Testimony.astro'
import Data from '../../../data/testimonial.json'

// Función para mezclar los elementos de un array (algoritmo de Fisher-Yates)
function shuffleArray(array) {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [array[i], array[j]] = [array[j], array[i]]; // intercambio de elementos
  }
  return array;
}

const Testimonial = shuffleArray(Data.data.attributes.upload.filter(upload => upload.approved));

---

<section class="bg-transparent">
    <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
      <h2 class="text-center text-3xl font-bold tracking-tight text-blueaccent sm:text-5xl">
        ¡Nuestros pacientes nos recomiendan!
      </h2>
  
      <div class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-3 md:gap-8">
        
        {Testimonial.map(upload => (
          <Testimony
            key={upload.id}
            Name={upload.name}
            Details={upload.details}
            StarNum={upload.stars}
            Date={upload.date}
          />
        ))}

      </div>
    </div>
  </section>