---
interface Props {
    Image : string;
    Profession: string;
    Name: string;
    Description: string;
}
const { Image, Profession, Name, Description} = Astro.props;
---

<section class="m-1 relative block h-full hover:scale-105 hover:shadow-lg hover:opacity-90">
    <img
      alt={Name}
      src={Image}
      class="absolute inset-0 h-full w-full object-cover opacity-75 rounded-lg"
      loading="eager"
    />
  
    <div class="relative p-4 sm:p-6 lg:p-8">
      <p class="text-sm font-medium uppercase tracking-widest text-bluewhite">{Profession}</p>
  
      <p class="text-xl font-bold text-white sm:text-2xl">{Name}</p>
  
      <div class="mt-32 sm:mt-48 lg:mt-64">
        <div 
        >
          <p class="text-l m-2 p-2 bg-blueaccent/40 font-bold text-grayash rounded-lg">
            {Description}
          </p>
        </div>
      </div>
    </div>
</section>